.today{
  
  text-align: left;
  font-size: 15px;
  
}

.test-date{
  text-align: right;
  margin-top: 0;
}

.add-btn{
  border-radius: 12px !important;
  font-size: 20px !important;
  display: block !important;
  width: 100%;
}

.undo{
  border: 2px solid #2c2c2c;
  border-radius: 12px;
  background: none;
  margin-top: 8px;
  font-size: 16px;
  width: 100%;

  &:hover{
    color: #027067;
  }
}

.card-test{
  align-self: center;
  margin-top: 20px;
  border-radius: 12px !important;
}

.log-container{
  display: flex;
  gap: 8px;
  margin-bottom: 16px;;
}

.cup-log{
  width: 2rem !important;
}

/*Rendering cups differently based on fill status*/
.cup-filled{
  width: 32px;
  height: 40px;
  border: 1px solid #2c2c2c;
  border-radius: 12px;
  background-color: #198754;
}

.cup-empty{
  width: 32px;
  height: 40px;
  border: 1px solid #2c2c2c;
  border-radius: 12px;
  background-color: none;
}

.login-logo {
  height: 40px;
  width: 40px;
  vertical-align: middle;
  margin-left: 6px;
}

.welcome{
  margin-top:20%;
  margin-bottom: 0;
  font-size: 50px;
}

.login-ctr{
  margin-top: 0;
  width: 50%;
  margin-left: 25%;
  border: 1px solid grey;
  border-radius: 12px;
  padding: 16px 16px 16px 16px;

  &:hover{
      box-shadow: 0 4px 12px rgb(85, 84, 84);
  }
}

.create-p{
  font-size: 15px;
}

.create-btn{
  border: none;
  text-decoration: none;
  font-size: 15px;
  margin-top: 0;
  margin-left: 0;
  padding: 0 0 0 0;
}

.create-ctr{
  margin-top: 0;
  width: 50%;
  margin-left: 25%;
  border: 1px solid grey;
  border-radius: 12px;
  padding: 16px 16px 16px 16px;

  &:hover{
      box-shadow: 0 4px 12px rgb(85, 84, 84);
  }
}